<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tech Blog</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <header>
      <h1>The Tech Blog</h1>
      <a href="/">Home</a>
      {{#if logged_in}}
        <button>Logout</button>
        <script src="./js/logout.js"></script>
      {{else}}
        <a href="/login">Login</a>
        <a href="/signup">Sign Up</a>
      {{/if}}
    </header>
    <main>{{{body}}}</main>
    <footer>Contact Us: info@techblog.com</footer>
  </body>
</html>